* {
    font-family: 'Titillium Web', sans-serif;
}

section {
    border: 1px red dotted;
}

h1 {
    color:darksalmon;
}
h2 {
    color: yellow;
}
h3 {
    color:blueviolet;
}
h4 {
}
h5 {
}
h6 {
}
/* Text Styles // end */
