* {
    font-family: 'Titillium Web', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
section {
    border: 1px red dotted;
    min-height: 100vh;
}

i {
    color: rgb(127, 238, 37);

}

h1 {
    color:rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 255, 255);
}
h3 {
    color:rgb(255, 255, 255);
}
h4 {
}
h5 {
}
h6 {
}

ul {
list-style-type: none;
margin: 0;
padding: 0;

}

li {
display: inline;



}
/* Text Styles // end */



/* CLASSES */

.bgColorThitle {
    background-color: rgb(240, 167, 167);
}

.bgColorSection2 {
    background-color: rgb(13, 92, 156);
}

.bgColorSection3 {
    background-color: violet;
    background-image: url("../img/lolioni-kknrCfZHsyo-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgColorSection4 {
    background-color: yellow;
}

.bgColorSection5 {
    background-color: yellowgreen;
}

.bgColorSection6 {
    background-color: teal;
}

.fa-search {
    color: black;
}