* {
    font-family: 'Titillium Web', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    justify-content: space-around;
}
footer {
    justify-content: space-between;
    align-items: center;
}
section {
    border: 1px red dotted;
    min-height: 100vh;
    background-color: moccasin;
}
i {
    color: mediumpurple;
}
/* Text Styles // start */
h1 {
    color:darksalmon;
}
h2 {
    color: yellow;
}
h3 {
    color:white;
}
h4 {
}
h5 {
}
h6 {
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
/* Text Styles // end */
/* CLASSES */
.row {
    display: flex;
}
.hero {
    text-align: center;
    background-image: url("../img/7shifts-bZ3AqX6J7Cc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgColorSection1 {
    background-color: blueviolet;
}
.bgColorSection2 {
    background-color: brown;
}
.bgColorSection3 {
    background-color: aquamarine;
}
.bgColorSection4 {
    background-color: lavender;
    background-image: url("../img/7shifts-bZ3AqX6J7Cc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fa-searchengin {
    color: black;
}
.centerSectionCol {
    text-align: center;
}
/* ID  */
#featuresSection {
    justify-content: space-between;
    align-items: center;
}
#testimonialSection {
    /* justify-content: center; */
    width: 500px;
    text-align: center;
}
